/version1/data/eval/
/version1/data/images/
/version1/data/net_weights/
/version1/data/test/images/
/version1/data/test/reconstruction/
/version1/data/train
__pycache__/
.idea/
.DS_Store/
/data/.DS_Store/
/pyconcorde/pyconcorde.egg-info/
/pyconcorde/concorde/_concorde.cpython-39-darwin.so
/data/net_weights/CL_2/checkpoint.pth
/version1/create_eval_0.log
/version1/create_eval_1.log
/version1/create_eval_2.log
/version1/create_instances_stdout.log
/version1/create_train.log
/version1/inspect.log
/pyconcorde/concorde/_concorde.cpython-39-darwin.so
/stdout.log
/pyconcorde/pyconcorde.egg-info/dependency_links.txt
/pyconcorde/.idea/modules.xml
/pyconcorde/pyconcorde.egg-info/not-zip-safe
/pyconcorde/pyconcorde.egg-info/PKG-INFO
/pyconcorde/.idea/pyconcorde.iml
/pyconcorde/pyconcorde.egg-info/requires.txt
/pyconcorde/pyconcorde.egg-info/SOURCES.txt
/pyconcorde/pyconcorde.egg-info/top_level.txt
/pyconcorde/.idea/vcs.xml
